 <!-- Top Navigation Bar -->
 
 <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="/GDV-logos.jpeg" class="logo" alt="Logo">
  delaVictoria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home"> <i class="fa-solid fa-house-fire"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about"> <i class="fa-solid fa-heart" style="color: #f87e46" ></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contact"> <i class="fa-solid fa-heart" style="color: #63ff44;" ></i> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/project"><i class="fa-solid fa-heart" style="color: #f9a9b5;"></i> Project</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/service"> <i class="fa-solid fa-heart" style="color: #5596d8;"></i> Service</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/products">Products</a>
        </li> -->


      </ul>
    </div>
  </div>
</nav>